/vendor
/web/assets/
/web/uploads/
/.phpunit.result.cache
/config/local/
/untracked
/report

#for tests
/models/tests
/tests-c/
/config/test.sample.php
codeception.yml
/docker/tests

/.env
/docker/databases/
.idea/php-docker-settings.xml
