/vendor
/web/assets/
/web/uploads/
/.phpunit.result.cache
/config/local/
/untracked
/report

#for tests
/models/tests
/tests-c/
/config/test.sample.php
codeception.yml

/.env
/docker/local/databases/
/docker/local/logs/
/docker/local/home/