# Default ignored files
/shelf/
/workspace.xml
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources
/inspectionProfiles/
/dataSources.xml
/encodings.xml
/php.xml
